<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey there!</p>

    <p>
      Somebody said something about your place on Nomster!</b>
      Check it out <%= link_to 'here', place_url(@place) %>.
    </p>
    Later! <br />
    -Risse
  </body>
</html>