<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey there!</p>

    <p>
      Check it out--<b>somebody said something about your place on Nomster!</b>
      <br />
      Just wanted to let you know.
    </p>
    Later! <br />
    -Risse
  </body>
</html>